*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	font-family: 'Comfortaa', cursive;
}
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1{font-size: 36px;}
h2{font-size: 22px;}
h3{font-size: 18px;}
h4{font-size: 14px;}
h5{font-size: 11px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 45px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 1318px;
	height: 104px;
	background: #FFFFFF;
	z-index: 10;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled
{	
	top: 15px;
}
.header.scrolled .header_content::before
{
	box-shadow: 0px 20px 49px rgba(0,0,0,0.17);
}
.header_content
{
	width: calc(100% - 279px);
	height: 100%;
}
.header_content::before
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	box-shadow: 0px 20px 49px rgba(0,0,0,0.67);
	z-index: -1;
}

/*********************************
3.1 Logo
*********************************/

.logo_container
{
	display: inline-block;
	padding-left: 12px;
}
.logo span
{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 900;
	color: #860606;
	vertical-align: middle;
	text-transform: uppercase;
	margin-left: 8px;
}
.logo img {
    width: 80px;
    height: auto;
}
/*********************************
3.2 Main Nav
*********************************/

.main_nav_container
{
	display: inline-block;
	margin-left: auto;
	padding-right: 25px;
}
.main_nav
{
	margin-top: 7px;
}
.main_nav_item
{
	display: inline-block;
	margin-right: 30px;
}
.main_nav_item:last-child
{
	margin-right: 0px;
}
.main_nav_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav_item a:hover
{
	color: #860606;
}

/*********************************
3.3 Header Side
*********************************/

.header_side
{
	width: 279px;
	height: 100%;
	background: #860606;
}
.header_side img
{
	width: 29px;
	height: 29px;
}
.header_side span
{
	display: block;
	position: relative;
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	padding-left: 12px;
}

/*********************************
3.4 Hamburger
*********************************/

.hamburger_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 20px;
	display: none;
	cursor: pointer;
}
.hamburger_container i
{
	font-size: 24px;
	padding: 10px;
	color: #3a3a3a;
}
.hamburger_container:hover i
{
	color: #860606;
}

/*********************************
4. Menu
*********************************/

.menu_container
{
	position: fixed;
	top: 0;
	right: -50vw;
	width: 50vw;
	height: 100vh;
	background: #FFFFFF;
	z-index: 12;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
	visibility: hidden;
	opacity: 0;
}
.menu_container.active
{
	visibility: visible;
	opacity: 1;
	right: 0;
}
.menu
{
	position: absolute;
	top:150px;
	left: 0;
	padding-left: 15%;
}
.menu_list
{
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 1000ms 600ms ease;
	opacity: 0;
}
.menu_container.active .menu_list
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
.menu_item
{
	margin-bottom: 9px;
}
.menu_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_item a:hover
{
	color: #860606;
}
.menu_close_container
{
	position: absolute;
	top: 86px;
	right: 79px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: #860606;
}

/*********************************
4.1 Menu Social
*********************************/

.menu_social_container
{
	margin-top: 100px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1000ms ease;
	-moz-transition: all 1000ms 1000ms ease;
	-ms-transition: all 1000ms 1000ms ease;
	-o-transition: all 1000ms 1000ms ease;
	transition: all 1000ms 1000ms ease;
	opacity: 0;
	padding-left: 4px;
}
.menu_social_item
{
	display: inline-block;
	margin-right: 30px;
}
.menu_social_item a i
{
	color: #3a3a3a;
}
.menu_social_item a i:hover
{
	color: #860606;
}
.menu_container.active .menu_social_container
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

/*********************************
4.2 Menu copyright
*********************************/

.menu_copyright
{
	margin-top: 60px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1200ms ease;
	-moz-transition: all 1000ms 1200ms ease;
	-ms-transition: all 1000ms 1200ms ease;
	-o-transition: all 1000ms 1200ms ease;
	transition: all 1000ms 1200ms ease;
	opacity: 0;
	padding-left: 3px;
}
.menu_container.active .menu_copyright
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 100vh;
}

/*********************************
5.1 Hero Slider
*********************************/

.hero_slider_container
{
	width: 100%;
	height: 100%;
}
.hero_slide
{
	width: 100%;
	height: 100%;
}
.hero_slide_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.hero_slide_container
{
	width: 100%;
	height: 100vh;
}
.hero_slide_content
{
	max-width: 80%;
	-webkit-transform: translateY(30px);
	-moz-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
	transform: translateY(30px);
}
.hero_slide_content h1
{
	font-size: 72px;
	font-weight: 400;
	color: #FFFFFF;
}
.hero_slide_content h1 span
{
	background: #860606;
	padding-left: 13px;
	padding-right: 13px;
	margin-left: -12px;
	margin-right: -12px;
}
.animated
{
	-webkit-animation-duration : 1s !important;
	animation-duration : 1s !important;
	-webkit-animation-delay : 500ms;
	animation-delay : 500ms;
}
.animate-out
{
	-webkit-animation-delay : 0ms;
	animation-delay : 0ms;
}

/*********************************
5.2 Hero Slider Navigation
*********************************/

.hero_slider_nav
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(calc(-50% + 30px));
	width: 58px;
	height: 58px;
	background: #FFFFFF;
	z-index: 9;
	cursor: pointer;
}
.hero_slider_nav:hover
{
	background: #860606;
}
.hero_slider_nav:hover span
{
	color: #FFFFFF;
}
.hero_slider_nav span
{
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	color: #121212;
	line-height: 1;
}
.hero_slider_left
{
	left: 4.32%;
}
.hero_slider_right
{
	right: 4.32%;
}
/*********************************
6. Hero Boxes
*********************************/

.hero_boxes
{
	width: 100%;
	height: 0px;
	z-index: 9;
	padding-top: 0px;
}
.hero_boxes_inner
{
	position: absolute;
	top: -212px;
	left: 0;
	width: 100%;
}
.hero_box
{
	width: 100%;
	height: 161px;
	background: #1a1a1a;
	padding-left: 50px;
	cursor: pointer;
}
.hero_box:hover
{
	background: #860606;
}
.hero_box img
{
	width: 62px;
	height: auto;
	margin-top: -6px;
}
.svg path
{
	fill: #860606;
}
.hero_box svg
{
	width: 62px;
	height: auto;
}
.hero_box:hover svg path
{
	fill: #FFFFFF;
}
.hero_box_content
{
	padding-left: 13px;
	padding-top: 11px;
	margin-top: -6px;
}
.hero_box_title
{
	font-size: 24px;
	font-weight: 500;
	color: #FFFFFF;
	margin-bottom: 7px;
}
.hero_box_link
{
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-left: 3px;
}
.hero_box_link:hover
{
	color: #1a1a1a;
}
/*********************************
7. Page Section
*********************************/

.page_section
{
	padding-top: 117px;
	padding-bottom: 117px;
}

.section_title h1
{
	display: block;
	color: #1a1a1a;
	font-weight: 500;
	padding-top: 24px;
}
.section_title h1::before
{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 55px;
	height: 4px;
	content: '';
	background: #860606;
}
i {
    font-size: 40px;
    color: #ffb606;
}
/*********************************
15. Footer
*********************************/

.footer
{
	width: 100%;
	padding-top: 86px;
	background: #1a1a1a;
}
.footer .section_title h1
{
	color: #FFFFFF;
}

/*********************************
15.1 Newsletter
*********************************/

.newsletter
{
	padding-bottom: 85px;
	border-bottom: solid 2px #4d4e4e;
}
.newsletter_form_container
{
	width: 60%;
	margin-top: 48px;
}
.newsletter_email
{
	width: calc(100% - 164px);
	height: 42px;
	border: none;
	padding-left: 27px;
	font-weight: 500;
	color: #1a1a1a;
}
.newsletter_email:focus
{
	outline: solid 2px #860606;
}
.newsletter_submit_btn
{
	width: 164px;
	height: 42px;
	border: none;
	background: #860606;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}
.newsletter_submit_btn:focus
{
	border: solid 2px #FFFFFF;
}

/*********************************
15.2 Footer Content
*********************************/

.footer_content 
{
	padding-top: 80px;
	padding-bottom: 83px;
	border-bottom: solid 2px #4d4e4e;
}
.footer_content ul
{
	list-style: none;
	margin-bottom: 0px;
}

.footer_content .logo span
{
	color: #FFFFFF;
}
.footer_about_text
{
	margin-top: 24px;
	margin-bottom: 0px;
	padding-right: 20px;
}
.footer_column_title
{
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	padding-top: 15px;
}
.footer_column_content
{
	margin-top: 32px;
}
.footer_list_item
{
	margin-bottom: 11px;
}
.footer_list_item a
{
	font-size: 14px;
	color: #a5a5a5;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_list_item a:hover
{
	color: #FFD266;
}
.footer_contact_item
{
	font-size: 14px;
	font-weight: 400;
	color: #a5a5a5;
	margin-bottom: 22px;
}
.footer_contact_item:last-child
{
	margin-bottom: 0px;
}
.footer_contact_icon 
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.footer_contact_icon i {
	font-size: 18px;
}

/*********************************
15.3 Footer Copyright
*********************************/

.footer_bar
{
	padding-top: 19px;
	padding-bottom: 19px;
}
.footer_social .menu_social_item a i
{
	color: #FFFFFF;
}
.footer_social .menu_social_item a i:hover
{
	color: #860606;
}
.footer_social .menu_social_item:last-child
{
	margin-right: 0px;
}

/*************************************
Notice Board
*************************************/

.notice_board h1 {
	text-align: center;
	color: #860606;
	font-weight: 900;
	text-shadow: 2px solid #121212;
}
.notice_board ul {
	margin-top: 40px;
	text-align: justify;
	font-size: 14px;
	line-height: 35px;
	padding-left: 60px;
}

/*************************************
Departments
*************************************/

.home_departments , .home_popular_links , .institute_row1{
	text-align: center;
}
.home_departments .row:last-child , .home_popular_links .row:last-child, .institute_row1 .row:last-child {
	margin-top: 80px;
}
.home_departments img , .home_popular_links img, .institute_row1 img, .home_clubs img {
	width: 180px;
	height: auto;
}
.home_departments h2 , .home_popular_links h2, .institute_row1  h2 , .home_clubs h2{
	margin-top: 40px;
	font-size: 28px;
}
.home_departments a , .home_popular_links a, .institute_row1 a, .home_clubs a {
	color: #860606;
}
.home_popular_links {
	margin-bottom: 80px;
}


/*********************************
14. Events
*********************************/

.event_items
{
	margin-top: 10px;
}
.event_item
{
	margin-bottom: 56px;
}
.event_item:last-child
{
	margin-bottom: 0px;
}
.event_date
{
	width: 131px;
	height: 131px;
	border: solid 2px #860606;
	margin-bottom: 18px;
}
.event_day
{
	font-size: 48px;
	font-weight: 700;
	color: #860606;
	margin-bottom: 1px;
	line-height: 1;
}
.event_month
{
	font-size: 16px;
	font-weight: 700;
	color: #860606;
}
.event_name a
{
	font-size: 22px;
	font-weight: 500;
	color: #1a1a1a;
}
.event_name a:hover
{
	color: #860606;
}
.event_location
{
	font-size: 14px;
	font-weight: 500;
	color: #1a1a1a;
	margin-top: 2px;
}
.event_content p
{
	font-weight: 500;
	color: #a5a5a5;
	margin-top: 21px;
	margin-bottom: 13px;
}
.event_image
{

}
.event_image img
{
	width: 100%;
}


/*********************************
Hero Images
*********************************/

.top_hero_image {
	height: 50%;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
	background-color: #ffffff;
	color: #860606;
	text-align: center !important;
}
.top_hero_image h1 {
	font-size: 80px;
	font-weight: 900;
	margin-top: 200px;
	margin-bottom: 200px;
	letter-spacing: 15px;
	text-transform: uppercase;
	text-shadow: 1px 1px 9px black, 0 0 32px #ffffff, 0 0 19px #4d4e4e;
}
.institute_row1 {
	margin-top: 80px;
	margin-bottom: 200px;
}

/*********************************
about page
*********************************/
.about_row1 , .rules_row1{
	margin-bottom: 80px;
}
.about_row1 h1 , .rules_row1 h1 {
	margin-left: 80px;
	text-transform: uppercase;
	font-weight: 600;
	color: #860606;
}
.about_row1 ul , .rules_row1 ul{
	margin-left: 80px;
	list-style-type: none;
	line-height: 40px;
}
.about_row1 a , .rules_row1 a {
	color: #000000;
	font-size: 16px;
}
.about_row1 p {
	font-size: 18px;
	line-height: 40px;
	text-align: justify;
	margin-left: 80px;
}
.vision_list ul {
	list-style-type: circle !important;
}
.vision_list h1 {
	margin-left: 25px !important;
}
.rules_row1 .col-7 ul {
	margin-left: 80px;
	list-style-type: circle;
	line-height: 40px;
}


/*********************************
home page
*********************************/
.parallax {
	/* The image used */
	background-image: url("images/college.jpg");

	/* Set a specific height */
	height: 100%; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.about_college_home {
	margin-top: 80px;
}
.about_college_home p, .home_gallery_link h1, .home_gallery_link p, .student_clubs_section h1 {
	color: #FFFFFF;
}
.about_college_home h1 {
	color: #540101;
}
.about_college_home h1, .home_gallery_link h1, .student_clubs_section h1 {
	font-size: 40px;
	font-weight: 900;
	letter-spacing: 5px;
}
.about_college_home p, .home_gallery_link p {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0px;
	line-height: 40px;
}
.about_space {
	margin-bottom: 80px;
}
.home_gallery_link {

	margin-top: 80px;
	/* The image used */
	background-image: url("images/pics_paralax.jpg");

	/* Set a specific height */
	height: 100%; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.gallery_link {
	margin-bottom: 60px;
}
.gallery_link i {
	font-size: 100px;
	margin-bottom: 10px;
	font-weight: 900;
	color: #04e2b9;
}
.home_gallery_link p {
	font-size: 24px;
	font-weight: 900;
}
.more_info {
	margin-top: 40px;
	text-align: center;
}
.more_info .btn {
	width: 100px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.more_info .btn:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.home_achievements img {
	max-width: 500px;
	height: auto;
}
.home_achievements li {
	margin-top: 20px;
	line-height:60px; 
	vertical-align:middle;
	font-size: 28px;
}
.student_clubs_section {

	margin-top: 80px;
	/* The image used */
	background-image: url("images/Ballet.jpg");

	/* Set a specific height */
	height: 100%; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.home_clubs {
	margin-bottom: 60px;
}
.home_testimonial_section .col-center {
	margin: 0 auto;
	float: none !important;
}
.home_testimonial_section .carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.home_testimonial_section .carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.home_testimonial_section .carousel .item .img-box, .principal_row1 .img-box{
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.home_testimonial_section .carousel .img-box img, .principal_row1 .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.home_testimonial_section .carousel .testimonial {
	padding: 30px 0 10px;
}
.home_testimonial_section .carousel .overview {	
	font-style: italic;
}
.home_testimonial_section .carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.home_testimonial_section .carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.home_testimonial_section .carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.home_testimonial_section .carousel .carousel-indicators {
	bottom: -40px;
}
.home_testimonial_section .carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.home_testimonial_section .carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.home_testimonial_section .carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.about_space {
	background-color: #000;
	opacity: 0.6;
  	filter: alpha(opacity=60); /* For IE8 and earlier */
}
.about_page, .institution_page, .vision_page, .rules_page, .principal_page, .admin_page, .dean_page, .vice_principal_page, .college_council_page {
	/* The image used */
	background-image: url("images/pggc11.jpg");

	/* Set a specific height */
	height: 100%; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.about_page .col-4 {
	position: fixed;
}
.principal_row1 .img-box{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.principal_row1 .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.principal_row1 .col-7 h1 {
	text-align: center;
	margin-bottom: 40px;
}
.home_clubs a {
	color: #ffffff !important;
}
.home_clubs .row {
	margin-bottom: 60px;
}

.nav_tabs {
	margin-top: 60px !important;
}
.nav_tabs h2 {
	text-align: center;
	color: #000;
	font-size: 24px;
	text-transform: uppercase;
}

.ncc_page {
	/* The image used */
	background-image: url("images/ncc.jpg");

	/* Set a specific height */
	height: 100%; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ncc_army_page {
	/* The image used */
	background-image: url("images/army.jpg");

	/* Set a specific height */
	height: 100%; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ncc_air_page {
	/* The image used */
	background-image: url("images/airforce.jpg");

	/* Set a specific height */
	height: 100%; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ncc_navy_page {
	/* The image used */
	background-image: url("images/navy.jpg");

	/* Set a specific height */
	height: 100%; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.nss_page {
	/* The image used */
	background-image: url("images/nss.jpg");

	/* Set a specific height */
	height: 100%; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about_row1 .table thead {
	background-color: #860606;
	color: #FFFFFF;
}
.navbar {
	background-color: #540101 !important;
}
.navbar .navbar-brand img {
	width: 600px;
	height: auto;
}
.navbar .navbar-nav a {
	font-size: 16px;
	font-weight: bolder !important;
	color: #FFFFFF !important;
}
.navbar .navbar-nav a:hover {
	font-size: 16px;
	font-weight: bolder !important;
	color: #FFD266 !important;
}
.home_section1 {
	margin-top: 90px;
}
.home_notice_board h1 {
	text-align: center;
}
.home_images_section .col-center {
	margin: 0 auto;
	float: none !important;
}
.home_images_section .carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.home_images_section .carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.home_images_section .carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.home_images_section .carousel-inner .item img {
	width: 690.5px !important;
	height: 425px;
	/* object-fit: contain !important; */
}
.home_notice_board .page_section
{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.home_notice_board .notice_board {
	height: 350px;
	overflow: scroll;
}
.home_notice_board .notice_board li {
	margin-top: 20px;
	color: #000;
}
.home_section1 .flex-container {
	display: flex;
	flex-direction: row;
}
#myCarousel {
	object-fit: contain !important;
}
@media (max-width:768px){
	.col-6 {
		width: 100% !important;
	}
	.home_section1 .flex-container {
		display: flex;
		flex-direction: column !important;
	}
}